@using EquipaMembros2019.Models;

<br />
<br />
<h2>
    O ciclo foreach - Razor
</h2>
<br />
<br />



@*recebe a ViewBag e convert (faz o cast) para o modelo Equipa*@
@foreach (var item in (List<Equipa>)ViewBag.Equipas)

{
    <label>@item.NomeEquipa </label>
    <br />
}



<br />
<br />
@foreach (var item in (List<Membro>)ViewBag.Membros)

{
    <label>@item.NomeMembro, atleta da equipa nº. @item.EquipaID </label>
    <br />

}



