<br /><br />
<h2>
    Lista as equipas (classe modelo Equipa)
    e respetivos membros (classe modelo Membro); as drops são independentes, não 
    estão sincronizadas.
</h2>
<br />
<br />

@Html.DropDownList("id", (SelectList)ViewBag.EQUIPAS)

<br />
<br />





<br />
<br />
<br />
<br />

@Html.DropDownList("id", (SelectList)ViewBag.MEMBROS)

