@model projW.ViewModel.FuncionarioTarefas


@{
    ViewBag.Title = "Tarefas Por Funcionario Mes Atual ViewModel";
}

<h2>Tarefas Por Funcionario com prazo Mes Atual (ViewModel)</h2>


@using (Html.BeginForm())
{
   
    @Html.DropDownList("drop_funcionario",
            (SelectList)ViewBag.FUNCIONARIOS,
            htmlAttributes: new { @class = "form-control", @onchange = "this.form.submit();" });

    foreach (var t in Model.Tarefas)
    {
        <ul>
            <li>@Html.ActionLink(t.Titulo, "Index", new { id = t.ID, link_funcionario = ViewBag.ID_FUNCIONARIO })</li>
        </ul>

    }
}


@if (ViewBag.ID_TAREFA > 0 && Model.LinhasDeTarefa.Count() > 0)
{
    <h1>Sub-tarefas:</h1>

    foreach (var linha in Model.LinhasDeTarefa)
    {
        <ul>
            <li>@linha.Descritivo</li>
        </ul>
    }

}
