
@{
    ViewBag.Title = "Acerca da Federação";
}

<h2>Acerca da Federação</h2>

<p>A <b>FNLB - Federação Nacional de Lançadores de Bananas</b> é a instituição que representa ao mais elevado nível, no âmbito nacional, os praticante da modalidade desportiva de lançamento de banana.</p>

