<br /><br />
<h2>
    Mostrar em drop, equipas provenientes de uma List "estática", 
    [List.Add("Gil Vicente"); ...]
</h2>
<br /><br />

@Html.DropDownList("qualquernome", (SelectList)ViewBag.LISTA, "ESCOLHER O MELHOR")


