
@{
    ViewBag.Title = "A";
}

<h2>A</h2>
<p>Mostrar numa droplist os nomes de equipas, usando uma lista "estática" (List.Add()). </p>
<br />
<br />
@Html.DropDownList("Lista de equipas", (SelectList)ViewBag.LISTA, " - Selecionar Equipa - ");

