@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Project W</h1>
    <p class="lead">The most efficient project manager ever for your team. Really. </p>
    <p>While it's presenting this marketing copy, it's already managing @ViewBag.TASK_COUNT tasks for you.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@ViewBag.GREETING</h2>
        <p>
            Right now, on this server, it's @ViewBag.SYSTEM_TIME. The server (almost) never sleeps, it (almost) always works for you, making sure that you don't miss a piece of data.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Built for success</h2>
        <p>Engineered by visionary architects. Powered by banana, tomato and feijoa smoothies. You won't be getting back to you early 2000's project management tools.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>For an integrated hosting sollution, please contact us by telepathy. Once you get the hang of it, it's way faster than email or chat bots.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>