@model IEnumerable<projW.Models.Tarefa>

@{
    ViewBag.Title = "Index";
}

<h2>Nº de tarefas por tipo e prioridade</h2>
<br />

@using (Html.BeginForm())
{

    <div class="col-md-3">
        Filtrar por tipo de tarefa:
        @Html.DropDownList("tipoTarefa",
                    (SelectList)ViewBag.TIPOSDETAREFA,
                    htmlAttributes: new { @class = "form-control", @onchange = "this.form.submit();" }
                    )
    </div>


    <div class="col-md-3">
        Filtrar por tipo de prioridade:
        @Html.DropDownList("prioridade",
                    (SelectList)ViewBag.TIPOSDEPRIORIDADE,
                    htmlAttributes: new { @class = "form-control", @onchange = "this.form.submit();" }
                    )
    </div>


    <div class="col-md-6">
        <p><br /><strong>@ViewBag.CONTAGEM tarefas com os critérios especificados.</strong></p>
    </div>
}